<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.0/ui-bootstrap-tpls.js"></script>


    <script type="text/javascript" src="/js/tableExport/tableExport.js"></script>
    <script type="text/javascript" src="/js/jquery.base64/jquery.base64.js"></script>
    <script type="text/javascript" src="/js/tableExport/html2canvas.js"></script>
    <script type="text/javascript" src="/js/tableExport/jspdf/libs/sprintf.js"></script>
    <script type="text/javascript" src="/js/tableExport/jspdf/jspdf.js"></script>
    <script type="text/javascript" src="/js/tableExport/jspdf/libs/base64.js"></script>

    <script src="/js/eventdata.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/eventdata.css">

    <link rel="stylesheet" type="text/css" href="/css/memberslist.css">
    <link rel="stylesheet" type="text/css" href="/css/animation.css">
</head>
<body ng-app="MermbersList">

<div class="container">

    <%- include eventdata.ejs %>

    <div class="row">
        <div class="col-md-12 col-xs-12">


            <div ng-controller="membersListCtrl">
                <div class="table-responsive">
                <table id="membersTable" class="table table-hover table-striped table-bordered">

                    <thead>
                    <tr>
                        <th ng-repeat="(fieldkey,fieldvalue) in membersList[0]" class="membersTableHeader">{{
                            colTitlesSubst(fieldkey); }}
                        </th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>

                    <tr ng-repeat="member in membersList | orderBy:predicate:reverse | filter:paginate| filter:search"
                        ng-class-odd="'odd'">
                        <td ng-repeat="(memberField, memberData) in member">
                            <span ng-if="memberField!='confirmed'" class="memberData">{{ confirmedSubst(memberField,memberData); }}</span>
                            <span ng-if="memberField=='confirmed' && memberData=='1'" class="glyphicon glyphicon-ok confirmed"></span>
                        </td>
                        <td class="col-xs-1 delspan">
                            <span class="glyphicon glyphicon-remove-circle delMember"
                                  memberid="{{member.memberid}}"></span>
                        </td>
                    </tr>

                </table>

            </div>
            </div>
        </div>
    </div>

    <button id="exportToExcelButton" class="btn btn-primary pull-right glyphButton"><span class="glyphicon glyphicon-download"></span> Export to Excel</button>

    <script>
        var eventdata = '<%- JSON.stringify(eventdata) %>';
        setupEventData(JSON.parse(eventdata));
        var fieldsJSON = '<%- JSON.stringify(fields) %>';
        var fields = JSON.parse(fieldsJSON);

        var membersList =<%- JSON.stringify(memberslist) %>;
        console.log(membersList);

        jQuery(document).ready(function ($) {
            $('.carousel').carousel();
        });

        //$('#exportToExcelButton').click(exportToExcel);

        $('#exportToExcelButton').click(function () {
            $('#membersTable').tableExport({type: 'excel', escape: 'false'});
        });

        $('#exportToPDFButton').click(function () {
            $('#membersTable').tableExport({type: 'pdf', pdfFontSize: '7', escape: 'false'});
        });


        var titleSubst = [['confirmed', 'cnf'], ['memberid', 'id']];
        var titleMap = new Map(titleSubst);


        var app = angular.module('MermbersList', ['ui.bootstrap', 'ngAnimate']);
        var ctrl = app.controller('membersListCtrl', ['$scope', function ($scope) {
            console.log("scope init");
            $scope.predicate = 'name';
            $scope.membersList = membersList;

            $scope.confirmedSubst = function (key, value) {
                if (key == 'confirmed') {
                    if (value == '1') {
                        return '';
                    }
                    else {
                        return "";
                    }
                }
                else {
                    return value;
                }
            };

            $scope.colTitlesSubst = function (value) {
                if (titleMap.get(value)) {
                    return titleMap.get(value);
                }
                else {
                    return value;
                }
            };

            $scope.checkConfirmField = function (fieldName) {
                return fieldName == 'confirmed';
            }

        }]);

        function exportToExcel() {
            window.open('data:application/vnd.ms-excel,' + document.getElementById('#membersTable'))
        }


        function onDel() {
            memberId2Del = {memberid: this.getAttribute('memberid')};
            console.log(memberId2Del);
            $(this).parent().parent().remove();

            // POST to delete from base

            $.post({
                url: '/memberslist/delmember',
                type: 'post',
                data: memberId2Del,
                success: function (data, textStatus, jqXHR) {
                    // if success, HTML response is expected, so replace current
                    if (textStatus === 'success') {
                        console.log(data);
                    }
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {

//************* rebuild page and send alert Error

                if (jqXHR.status == 0 || jqXHR == 302) {
                    alert('Your session has ended due to inactivity after 10 minutes.\nPlease refresh this page, or close this window and log back in to system.');
                } else {
                    alert('Unknown error returned while saving' + (typeof errorThrown == 'string' && errorThrown.trim().length > 0 ? ':\n' + errorThrown : ''));
                }
            });
        }
        $('.container').on('click', '.delMember', onDel); // onClick for Close spans
    </script>

</body>
</html>