<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm registration</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="/js/serializejson/jquery.serializejson.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/registered.css">
</head>
<body>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Hooray! You has been registered!
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-10 col-md-offset-1" id="innerContent">
                    <h3>We send you confirmation code to the email you provided.</h3>
                </div>
                <div class="col-md-6 col-md-offset-3" id="formDiv">
                    <form method="post" action="#" id="confirmForm">
                        <div class="form-group col-md-12">
                            <label for="confirmCode">Please enter the code</label>
                            <input type="text" class="form-control" id="confirmCode" name="confirmCode" required="true"
                                   maxlength="64">
                        </div>

                        <div id="errorPanel" class="alert alert-danger fade in" style="display: none"></div>


                        <div class="col-md-12 col-xs-12" id="realSumbit">
                            <button type="submit" id="submitButton" class="btn btn-primary pull-right">Confirm</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/common.js"></script>
<script>
    var eventMemberId='<%= eventmemberid %>';

    $('#confirmForm').on('submit', function (event) {
        event.preventDefault();
        $("#errorPanel").hide();
        $.post({
            url: '/registered/confirm?id=' + eventMemberId,
            type: 'post',
            data: $('#confirmForm').serializeJSON(),
                //data: $(this).serialize(),
                success: function (data, textStatus, jqXHR) {
                // if success, HTML response is expected, so replace current
                if (textStatus === 'success') {
                    console.log(data);
                    if (data.status==='success'){
                        alert('Registration confirmed');
                    }
                    else{
                        $("#errorPanel").html("<p>"+data.errmsg+"</p>");
                        $("#errorPanel").show();
                    }
                }
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            if (jqXHR.status == 0 || jqXHR == 302) {
                alert('Your session has ended due to inactivity after 10 minutes.\nPlease refresh this page, or close this window and log back in to system.');
            } else {
                alert('Unknown error returned while saving' + (typeof errorThrown == 'string' && errorThrown.trim().length > 0 ? ':\n' + errorThrown : ''));
            }
        });
        return false;
    });


</script>
</body>
</html>