
body{
    min-width: 250px;
}

.eventcaption{
    text-align: center;
}

#captiontext{
    font-size: large;
    font-weight: bold;
    height: 50px;
    background-color: silver;
}

.dropzone{
    margin-top: 20px;
    margin-bottom: 20px;
}


.container{
    margin-top: 50px;
}


#myDropzone{
    min-height: 200px;
    border-radius: 4px;
    border: 1px silver solid;
    text-align: center;
}

.addfield{

}

.customFieldDiv{
    margin-top: 2em;
}

.sumbit{

}
