body{
    min-width: 350px;
    font-family: Arial, sans-serif;
}

.container{
    margin-top: 50px;
}

#membersTable{
    margin-bottom: 0;

}


.membersTableHeader {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;

}

.membersDataRow td{
    padding-left: 20px !important;
    padding-right: 20px !important;
}


.membersTableHeader td{
    vertical-align: middle !important;
    height: 4em;
}


.delMember{
    cursor: pointer;
}

.delMember, .num-rows, .delspan{
    color: red;
    font-weight: 700;
    text-align: center;

}

.confirmed{
    color: #00cf0c;
    width: 100%;
    text-align: center;
}

.memberData{
    white-space: nowrap;
}

.glyphButton{
    vertical-align: middle;
}